.company-image {
    background: white;
    position: relative;
    padding: 10px 5px 0px 5px;
    height: 115px;
}

.logo-image {
    display: inline-block;
    padding: 7px;
    margin: 10px 10px 2px 10px;
    background: linear-gradient(180deg, #FEFEFD 0%, #F1F1F1 100%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 10.25px 0px #94949440;
    border-radius: 10px;
    overflow: hidden;
}

.logo-image img {
    border-radius: 50%;
    display: block;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.timing {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 75px;
    height: 17px;
    background: #B0D9FF;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    padding: 8px 0px 8px 0px;
    color: black;
    font-family: inherit;
    font-size: 14px;
}

.role {
    font-weight: bold;
    padding: 0px 16px;
    font-size: 20px;
    font-weight: 600;
}

.job-details {
    display: flex;
    gap: 15px;
    height: 47px;
    margin-left: 18px;
    align-items: center;
}

span {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    color: #5A5A5A;
    align-items: center;
}

.job-details span img {
    width: "20px";
    height: "20px";

}

.description-area {
    margin-top: 8px;
    padding-left: 18px;
}

li {
    position: relative;
    padding-left: 1.025em;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 0px;
    color: #555555;
    list-style: none;
}

.description-area li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0.1em;
    color: #555555;
    font-size: 1em;
}


.apply-btn {
    background: #1c9cce;
    width: 285px;
    height: 45px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: 600;
    font-family: inherit;
    font-size: 16px;
}

.btn-section {
    text-align: center;
    margin: 20px auto;
}