.head-container {
    width: 1440px;
    height: 214px;
    opacity: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 0px #C6BFBF40;
    font-family: 'Satoshi Variable', sans-serif;
}

nav {
    position: relative;
    width: 890px;
    height: 80px;
    top: 21px;
    left: 275px;
    border-radius: 122px;
    border-width: 1px;
    color: #FFFFFF;
    border: 1px solid #FCFCFC;
    box-shadow: 0 0 20px 0 #7F7F7F26;
}

.navbar {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 838px;
    height: 48px;
    top: 16px;
    left: 26px;
}

.logo img {
    position: relative;
    top: 1px;
    width: 44px;
    height: 47px;
}

.ul {
    margin-left: 15px;
    width: 631px;
    display: flex;
    gap: 30px;
    padding-left: 5px;
}


.ul li {
    list-style-type: none;
    text-align: center;
    padding: 6px 12px;
}

li a {
    border-radius: 10px;
    color: #303030;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.button-tag {
    height: 42px;
    border-radius: 12px;
    gap: 11px;
    padding: 6px;
}

.createbtn {
    width: 123px;
    height: 38px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(180deg, #A128FF 0%, #6100AD 113.79%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* filter section  */
.filterContainer {
    display: flex;
    padding-left: 30px;
    justify-content: space-around;
    align-items: center;
}

.filters {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    margin-top: 60px;
    padding: 6px 0;
}

input,
select {
    padding: 10px;
    font-size: 16px;
    border: none;
    font-weight: 500;
    outline: none;
    width: 70%;
}

.filters span {
    font-size: 16px;
    font-weight: 600;
}